<%= form_for(list) do |f| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :clase %>
    <%= f.text_field :clase %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.number_field :descripcion %>
  </div>

  <div class="field">
    <%= f.label :orde %>
    <%= f.text_field :orde %>
  </div>

  <div class="field">
    <%= f.label :n %>
    <%= f.number_field :n %>
  </div>

  <div class="field">
    <%= f.label :admin_user_id %>
    <%= f.text_field :admin_user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
