<p id="notice"><%= notice %></p>

<p>
  <strong>Dni:</strong>
  <%= @employee.dni %>
</p>

<p>
  <strong>Ape pat:</strong>
  <%= @employee.ape_pat %>
</p>

<p>
  <strong>Ape mat:</strong>
  <%= @employee.ape_mat %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @employee.nombres %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @employee.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @employee.telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @employee.correo %>
</p>

<p>
  <strong>Fec nacimiento:</strong>
  <%= @employee.fec_nacimiento %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @employee.estado %>
</p>

<p>
  <strong>Tip tra:</strong>
  <%= @employee.tip_tra %>
</p>

<p>
  <strong>Esta civil:</strong>
  <%= @employee.esta_civil %>
</p>

<p>
  <strong>Afp:</strong>
  <%= @employee.afp %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @employee.admin_user %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
