<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @contract.employee %>
</p>

<p>
  <strong>Num cont:</strong>
  <%= @contract.num_cont %>
</p>

<p>
  <strong>Fec inicon:</strong>
  <%= @contract.fec_inicon %>
</p>

<p>
  <strong>Fec tercon:</strong>
  <%= @contract.fec_tercon %>
</p>

<p>
  <strong>Puesto:</strong>
  <%= @contract.puesto %>
</p>

<p>
  <strong>Cod hor:</strong>
  <%= @contract.cod_hor %>
</p>

<p>
  <strong>Remuneracion:</strong>
  <%= @contract.remuneracion %>
</p>

<p>
  <strong>Area:</strong>
  <%= @contract.area %>
</p>

<p>
  <strong>Tipo contra:</strong>
  <%= @contract.tipo_contra %>
</p>

<p>
  <strong>Fec retiro:</strong>
  <%= @contract.fec_retiro %>
</p>

<p>
  <strong>Motivo retir:</strong>
  <%= @contract.motivo_retir %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @contract.obs %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @contract.admin_user %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
