<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo ficha:</strong>
  <%= @sheet.codigo_ficha %>
</p>

<p>
  <strong>Codigo revision:</strong>
  <%= @sheet.codigo_revision %>
</p>

<p>
  <strong>Creada:</strong>
  <%= @sheet.creada %>
</p>

<p>
  <strong>Revisada:</strong>
  <%= @sheet.revisada %>
</p>

<p>
  <strong>Descripcion original:</strong>
  <%= @sheet.descripcion_original %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @sheet.descripcion %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @sheet.grupo %>
</p>

<p>
  <strong>Clase:</strong>
  <%= @sheet.clase %>
</p>

<p>
  <strong>Cna:</strong>
  <%= @sheet.cna %>
</p>

<p>
  <strong>Na:</strong>
  <%= @sheet.na %>
</p>

<p>
  <strong>Soc:</strong>
  <%= @sheet.soc %>
</p>

<p>
  <strong>Caracteristica:</strong>
  <%= @sheet.caracteristica %>
</p>

<p>
  <strong>Vigencia:</strong>
  <%= @sheet.vigencia %>
</p>

<p>
  <strong>Unidad medida:</strong>
  <%= @sheet.unidad_medida %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @sheet.admin_user %>
</p>

<%= link_to 'Edit', edit_sheet_path(@sheet) %> |
<%= link_to 'Back', sheets_path %>
