<%= form_for(experience) do |f| %>
  <% if experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %>
    <%= f.text_field :employee_id %>
  </div>

  <div class="field">
    <%= f.label :empresa %>
    <%= f.text_field :empresa %>
  </div>

  <div class="field">
    <%= f.label :desde %>
    <%= f.date_select :desde %>
  </div>

  <div class="field">
    <%= f.label :hasta %>
    <%= f.date_select :hasta %>
  </div>

  <div class="field">
    <%= f.label :cargo %>
    <%= f.text_field :cargo %>
  </div>

  <div class="field">
    <%= f.label :obs %>
    <%= f.text_field :obs %>
  </div>

  <div class="field">
    <%= f.label :admin_user_id %>
    <%= f.text_field :admin_user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
