<p id="notice"><%= notice %></p>

<h1>Formulas</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>String</th>
      <th>Admin user</th>
      <th>Descripcion</th>
      <th>String</th>
      <th>Orden</th>
      <th>Obs</th>
      <th>Cantidad</th>
      <th>Numero</th>
      <th>Pfecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formulas.each do |formula| %>
      <tr>
        <td><%= formula.product %></td>
        <td><%= formula.nombre %></td>
        <td><%= formula.descripcion %></td>
        <td><%= formula.string %></td>
        <td><%= formula.admin_user %></td>
        <td><%= formula.descripcion %></td>
        <td><%= formula.string %></td>
        <td><%= formula.orden %></td>
        <td><%= formula.obs %></td>
        <td><%= formula.cantidad %></td>
        <td><%= formula.numero %></td>
        <td><%= formula.pfecha %></td>
        <td><%= link_to 'Show', formula %></td>
        <td><%= link_to 'Edit', edit_formula_path(formula) %></td>
        <td><%= link_to 'Destroy', formula, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Formula', new_formula_path %>
