<p id="notice"><%= notice %></p>

<p>
  <strong>Clase:</strong>
  <%= @catalogue.clase %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @catalogue.descripcion %>
</p>

<p>
  <strong>Orden:</strong>
  <%= @catalogue.orden %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @catalogue.admin_user %>
</p>

<%= link_to 'Edit', edit_catalogue_path(@catalogue) %> |
<%= link_to 'Back', catalogues_path %>
