<%= form_for(supplier) do |f| %>
  <% if supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero_proveedor %>
    <%= f.text_field :numero_proveedor %>
  </div>

  <div class="field">
    <%= f.label :num_documento_pais %>
    <%= f.number_field :num_documento_pais %>
  </div>

  <div class="field">
    <%= f.label :des_proveedor %>
    <%= f.text_field :des_proveedor %>
  </div>

  <div class="field">
    <%= f.label :direccion_pais %>
    <%= f.text_field :direccion_pais %>
  </div>

  <div class="field">
    <%= f.label :telefono_pais %>
    <%= f.text_field :telefono_pais %>
  </div>

  <div class="field">
    <%= f.label :correo_pais %>
    <%= f.text_field :correo_pais %>
  </div>

  <div class="field">
    <%= f.label :pag_weeb %>
    <%= f.text_field :pag_weeb %>
  </div>

  <div class="field">
    <%= f.label :nro_representante %>
    <%= f.text_field :nro_representante %>
  </div>

  <div class="field">
    <%= f.label :des_representante %>
    <%= f.text_field :des_representante %>
  </div>

  <div class="field">
    <%= f.label :correo_representante %>
    <%= f.text_field :correo_representante %>
  </div>

  <div class="field">
    <%= f.label :activo %>
    <%= f.number_field :activo %>
  </div>

  <div class="field">
    <%= f.label :fec_registro %>
    <%= f.text_field :fec_registro %>
  </div>

  <div class="field">
    <%= f.label :mod_registro %>
    <%= f.text_field :mod_registro %>
  </div>

  <div class="field">
    <%= f.label :tipo_proveedor %>
    <%= f.number_field :tipo_proveedor %>
  </div>

  <div class="field">
    <%= f.label :calificacion %>
    <%= f.number_field :calificacion %>
  </div>

  <div class="field">
    <%= f.label :observacion %>
    <%= f.text_field :observacion %>
  </div>

  <div class="field">
    <%= f.label :admin_user_id %>
    <%= f.text_field :admin_user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
