<p id="notice"><%= notice %></p>

<h1>Suppliers</h1>

<table>
  <thead>
    <tr>
      <th>Numero proveedor</th>
      <th>Num documento pais</th>
      <th>Des proveedor</th>
      <th>Direccion pais</th>
      <th>Telefono pais</th>
      <th>Correo pais</th>
      <th>Pag weeb</th>
      <th>Nro representante</th>
      <th>Des representante</th>
      <th>Correo representante</th>
      <th>Activo</th>
      <th>Fec registro</th>
      <th>Mod registro</th>
      <th>Tipo proveedor</th>
      <th>Calificacion</th>
      <th>Observacion</th>
      <th>Admin user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.numero_proveedor %></td>
        <td><%= supplier.num_documento_pais %></td>
        <td><%= supplier.des_proveedor %></td>
        <td><%= supplier.direccion_pais %></td>
        <td><%= supplier.telefono_pais %></td>
        <td><%= supplier.correo_pais %></td>
        <td><%= supplier.pag_weeb %></td>
        <td><%= supplier.nro_representante %></td>
        <td><%= supplier.des_representante %></td>
        <td><%= supplier.correo_representante %></td>
        <td><%= supplier.activo %></td>
        <td><%= supplier.fec_registro %></td>
        <td><%= supplier.mod_registro %></td>
        <td><%= supplier.tipo_proveedor %></td>
        <td><%= supplier.calificacion %></td>
        <td><%= supplier.observacion %></td>
        <td><%= supplier.admin_user %></td>
        <td><%= link_to 'Show', supplier %></td>
        <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
        <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier', new_supplier_path %>
