<p id="notice"><%= notice %></p>

<p>
  <strong>Numero proveedor:</strong>
  <%= @supplier.numero_proveedor %>
</p>

<p>
  <strong>Num documento pais:</strong>
  <%= @supplier.num_documento_pais %>
</p>

<p>
  <strong>Des proveedor:</strong>
  <%= @supplier.des_proveedor %>
</p>

<p>
  <strong>Direccion pais:</strong>
  <%= @supplier.direccion_pais %>
</p>

<p>
  <strong>Telefono pais:</strong>
  <%= @supplier.telefono_pais %>
</p>

<p>
  <strong>Correo pais:</strong>
  <%= @supplier.correo_pais %>
</p>

<p>
  <strong>Pag weeb:</strong>
  <%= @supplier.pag_weeb %>
</p>

<p>
  <strong>Nro representante:</strong>
  <%= @supplier.nro_representante %>
</p>

<p>
  <strong>Des representante:</strong>
  <%= @supplier.des_representante %>
</p>

<p>
  <strong>Correo representante:</strong>
  <%= @supplier.correo_representante %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @supplier.activo %>
</p>

<p>
  <strong>Fec registro:</strong>
  <%= @supplier.fec_registro %>
</p>

<p>
  <strong>Mod registro:</strong>
  <%= @supplier.mod_registro %>
</p>

<p>
  <strong>Tipo proveedor:</strong>
  <%= @supplier.tipo_proveedor %>
</p>

<p>
  <strong>Calificacion:</strong>
  <%= @supplier.calificacion %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @supplier.observacion %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @supplier.admin_user %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
